<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Lesson 3</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        p {
            min-height: 1em;
        }
    </style>
</head>
  <body>
    <form method="GET">
        <p>
            <label for="yards">Enter Distance in Yards:</label>
            <input type="text" id="yards" name="yards">
            <input type="submit" value="Submit">
        </p>
        <p>
            <output>{{yards}}</output>
        </p>
    </form>
    <!-- <form method="POST">
        <p>
            <label for="feet">Enter Distance in Feet:</label>
            <input type="text" id="feet" name="feet">
            <input type="submit" value="Submit">
        </p>
        <p>
            <output>{{feet}}</output>
        </p>
    </form> -->
    <form method="POST">
        <p>
            <label for="inches">Enter Distance in Inches:</label>
            <input type="text" id="inches" name="inches">
            <input type="submit" value="Submit">
        </p>
        <p>
            <output>{{inches}}</output>
        </p>
    </form>
</body>
</html>