<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lesson 12</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="wrapper">
        <h1>Login</h1>
        <p>Cookie: {{cookie}}<br>Session: {{session}}</p>
        <p>{{welcome}}</p>
        <form method="POST">
            <p><label for="userName">Username:</label>
                <input type="text" id="username" name="username" value="{{username}}">
            </p>
            <p><label for="password">Password:</label>
                <input type="text" id="password" name="password" value="">
                <p>
                    <input type="submit" id="createLogin" name="createLogin" value="Create Login">&nbsp;
                    <input type="submit" id="updateLogin" name="updateLogin" value="Update Login">&nbsp;
                    <input type="submit" id="log-in" name="log-in" value="Log In">&nbsp;<br>
                    <input type="submit" id="log-out" name="log-out" value="Log Out">&nbsp;
                    <input type="submit" id="forget-me" name="forget-me" value="Forget Me">&nbsp;
                    <input type="submit" id="reload" name="reload" value="Reload">
                </p>
        </form>
        <hr>
        {{{table}}}

        <h1>Create Account</h1>
        <form method="POST">
            <p><label for="userName">Username:</label>
                <input type="text" id="username" name="username" value="">
            </p>
            <p><label for="password">Password:</label>
                <input type="text" id="password" name="password" value="">
            </p>
            <p><label for="fName">First Name:</label>
                <input type="text" id="fName" name="fName">
            </p>
            <p><label for="lName">Last Name:</label>
                <input type="text" id="lName" name="lName">
            </p>
            <p><label for="address">Address:</label>
                <input type="text" id="address" name="address">
            </p>
            <p><label for="city">City:</label>
                <input type="text" id="city" name="city">
            </p>
            <p><label for="state">State:</label>
                <input type="text" id="state" name="state">
            </p>
            <p><label for="postCode">Postal Code:</label>
                <input type="number" id="postCode" name="postCode">
            </p>
            <p><label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </p>
            <p><label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone">
            </p>
            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="employee">Employee</option>
                <option value="manager">Manager</option>
                <option value="disabled">Disabled User</option>
                <option value="customer">Customer</option>
            </select><br><br>
            <input type="submit" id="createLogin" name="createLogin" value="Create Account">
            </form>
            <br>
            <hr>
            <h1>Delete Account</h1>
            <form method="POST">
                <p><label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone">
                </p>
                <input type="submit" id="deleteLogin" name="deleteLogin" value="Delete Account">
            </form>
            <br>
            <hr>
            <h1>Get Account(s)</h1>
            <form method="POST">
                <p><label for="phoneGet">Phone:</label>
                    <input type="text" id="phoneGet" name="phoneGet">
                </p>
                <input type="submit" id="getAccount" name="getAccount" value="Get Account">
                <input type="submit" id="getAllLogin" name="getAllLogin" value="Get All Accounts">
            </form>
    </div>


</body>

</html>